{% extends 'adminside/adminbase.html' %}
{% block title %}Orders List{% endblock title %}
{% block body %}
<div class="container">
    <table class="table">
        <thead>
            <h3><b>All {{ status }} Orders</b></h3>
            <tr>
                <th>Order ID</th>
                <!--<th>Product ID</th>-->
                <th>Product Name</th>
                <!--<th>User ID</th>
                <th>Address ID</th>-->
                <th>Quantity</th>
                <th>Amount</th>
                <th>Vendor_id</th>
                <th>Payment Type</th>
                <th>Payment Status</th>
                <th>Order Status</th>
                <th>Date and Time</th>
                <th>Accept/Cancel</th>
            </tr>
        </thead>
        <tbody>
            {% for i in s %}
            <tr>
                <td><a href="/adminvieworder/{{ i.id }}">{{ i.id }}</a></td>
                <!-- <td>{{ i.product_id }}</td>-->
                <td>{{ i.product_name }}</td>
                <!--<td>{{ i.user_id }}</td>
                <td>{{ i.address_id }}</td>-->
                <td>{{ i.quantity }}</td>
                <td>{{ i.amount }}</td>
                <td>{{ i.vendor_id }}</td>
                <td>{{ i.payment_type }}</td>
                {% if i.payment_status == "Paid" %}
                <td class="text-success"><b>{{ i.payment_status }}</b></td>
                {% else %}
                <td class="text-danger"><b>{{ i.payment_status }}</b></td>
                {% endif %}
                {% if i.order_status == "Received" %}
                <td class="text-secondary"><b>{{ i.order_status }}</b></td>
                {% elif i.order_status == "Accepted" %}
                <td class="text-primary"><b>{{ i.order_status }}</b></td>
                {% elif i.order_status == "Packed" %}
                <td class="text-warning"><b>{{ i.order_status }}</b></td>
                {% elif i.order_status == "Shipped" %}
                <td class="text-info"><b>{{ i.order_status }}</b></td>
                {% elif i.order_status == "Deliverd" %}
                <td class="text-success"><b>{{ i.order_status }}</b></td>
                {% elif i.order_status == "Order Closed" %}
                <td class="text-dark"><b>{{ i.order_status }}</b></td>
                {% elif i.order_status == "Canceled" %}
                <td class="text-danger"><b>{{ i.order_status }}</b></td>
                {% endif %}
                <td>{{ i.date_and_time }}</td>
                <td>
                    {% if i.order_status == 'Canceled' %}
                    <button class="btn btn-outline-danger" disabled>Canceled</button>
                    {% elif i.order_status == 'Deliverd'%}
                    <button class="btn btn btn-outline-success" disabled>Deliverd</button>
                    {% elif i.order_status == 'Order Closed'%}
                    <button class="btn btn btn-outline-dark" disabled>Order Closed</button>
                    {% else %}
                    <a class="btn btn-danger" href="/admin_cancel_order/{{ i.id }}">Cancel</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}