{% extends 'userside/base.html' %}
{% block title %} Address Registeration Page{% endblock title %}
{% block body %}
<div class="container mt-5">
    <h1>Address Registration Form</h1>

    <form action="/address_registration" method="post" class="w-50">
        {% csrf_token %}
        <div class="form-group">
            <label for="full_name">Full Name</label>
            <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Enter Full Name">
        </div>

        <div class="form-group">
            <label for="address_lane_1">Address Lane 1</label>
            <input type="text" class="form-control" id="address_lane_1" name="address_lane_1" placeholder="Enter Address Lane 1">
        </div>

        <div class="form-group">
            <label for="address_lane_2">Address Lane 2</label>
            <input type="text" class="form-control" id="address_lane_2" name="address_lane_2" placeholder="Enter Address Lane 2">
        </div>

        <div class="form-group">
            <label for="city_or_town">City or Town</label>
            <input type="text" class="form-control" id="city_or_town" name="city_or_town" placeholder="Enter City or Town">
        </div>

        <div class="form-group">
            <label for="district">District</label>
            <input type="text" class="form-control" id="district" name="district" placeholder="Enter District">
        </div>

        <div class="form-group">
            <label for="pincode">Pincode</label>
            <input type="text" class="form-control" id="pincode" name="pincode" placeholder="Enter Pincode">
        </div>

        <div class="form-group">
            <label for="phone_number">Phone Number</label>
            <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Enter Phone Number">
        </div>

        <div class="form-group">
            <label for="alt_phone_number">Alternate Phone Number</label>
            <input type="text" class="form-control" id="alt_phone_number" name="alt_phone_number" placeholder="Enter Alternate Phone Number">
        </div>

        <div class="form-group">
            <label for="land_mark">Landmark</label>
            <input type="text" class="form-control" id="land_mark" name="land_mark" placeholder="Enter Landmark">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock body %}