<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>{% block title %}{% endblock title %}</title>
    <style>
        .zoom-container {
            position: relative;
            overflow: hidden;
        }

            .zoom-container img {
                transition: transform 0.3s ease;
            }

            .zoom-container:hover img {
                transform: scale(1.1); /* Increase the scale factor for stronger zoom */
            }

        .view carousel-item img {
            max-height: 200px; /* Adjust the height as desired */
            object-fit: cover;
        }

        .img-fluid {
            height: 78%;
            width: 100%;
        }

        .displaycard {
            height: 420px;
            width: 300px;
        }

        .displaycard_group {
            display: flex;
            justify-content: flex-start;
        }

        .image_slide {
            height: 500px;
            width: 700px;
            background-color: white;
        }

        .image_slide_img {
            height: 600px;
            width: 600px;
        }
    </style>
</head>
<body style="background-color:antiquewhite">
    <nav class="navbar navbar-expand-lg bg-success fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="/"><h3><i>E-NAH</i></h3></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                        </a>
                        <ul class="dropdown-menu bg-success">
                            <li><a class="dropdown-item text-light" href="/productsdisplay/{{ 'farm_fresh' }}">Farm Fresh</a></li>
                            <li><hr class="dropdown-divider text-light"></li>
                            <li><a class="dropdown-item text-light" href="/productsdisplay/{{ 'home_mades' }}">Home Mades</a></li>
                            <li><hr class="dropdown-divider text-light"></li>
                            <li><a class="dropdown-item text-light" href="/productsdisplay/{{ 'crafts' }}">Crafts</a></li>
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                         <a class="nav-link text-light" href="#">Offers</a>
                     </li>-->


                </ul>
                <div>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item dropdown">
                            {% if request.user.is_authenticated %}
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Hi,   {{ request.user.name }}
                            </a>
                            {% else %}
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Hi, Login
                            </a>
                            {% endif %}
                            <ul class="dropdown-menu bg-success">
                                {% if request.user.is_authenticated %}
                                <li><a class="dropdown-item text-light" href="/yourprofile">Your Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-light" href="/userlogout">Logout</a></li>
                                {% else %}
                                <li><a class="dropdown-item text-light" href="/usersignup">Sign Up</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-light" href="/userlogin">Log In</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Contact</a>
                        </li>
                        <li class="nav-item mt-1">
                            <a class="nav-link text-light" href="/wishlist">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/basket">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-basket mt-1 position-relative" viewBox="0 0 16 16">
                                    <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z" />
                                    <span class="mt-2 position-absolute  translate-middle badge rounded-pill bg-danger">{{ count }}</span>
                                </svg>
                            </a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {% block body %}

    {% endblock body %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <script>

        function downloadPDF() {
            const element = document.getElementById('topdf');

            // configure the html2pdf options
            const options = {
                filename: 'Invoice.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };

            // convert the element to PDF
            html2pdf().from(element).set(options).save();
        }
    </script>
</body>
</html>